body{
  background: white;
  color: #222;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding:0;
  margin:0;
}
header{
  display:flex;
  align-items:center;
  background:black;
  width:1200px;
  height:50px;
}
header a{
  font-family: 'Josefin Sans', sans-serif;
  color:white;
  font-size: 30px;
  margin: 10px;
  text-decoration:none;
}
.first{
  margin-left:120px;
}
.picture{
  width: 400px;
  float: left;
  font-family: 'Abril Fatface', cursive;
  color: #222;
  position: absolute;
}

img {
  width: 300px;
  height: 500px;
  margin-right: 0px;
  object-fit: cover; 
 
}
.name{
  position:absolute;
  left: 10%;
  top:200px;
}
.subtitle{
  font-family: 'Abril Fatface', cursive;
  font-size:30px;
  position:relative;
  left:0%;
  bottom:-40px;
}
.title{
  font-family: 'Abril Fatface', cursive;
  font-size:40px;
  position:relative;
  text-align:left;
  bottom:-30px;
}
section{
  display:flex;
  width:1200px;
}
aside{
  width:300px;
}

main{
  font-family: 'Josefin Sans', sans-serif;
  font-size:20px;
  width:600px;
  display:flex;
  flex-flow:column;
  margin-top:80px;
  margin-left:100px;
}
ul{
  list-style-type:square;
  line-height:3;
}
.quote::before {
  content: '”';
  font-family: 'Abril Fatface', cursive;
  font-size:120px;
  position:absolute;
}
.quote
{
  background: #444444;
  color: white;
  position: relative;
  font-family: 'Abril Fatface', cursive;
  font-size:55px;
  height:auto;
  padding:5%;
}
main2{
  font-family: 'Josefin Sans', sans-serif;
  font-size:20px;
  width:400px;
  display:flex;
  flex-flow:column;
  margin-top:80px;
  margin-left:100px;
}
h2{
  text-transform:uppercase;
}
main3{
  font-family: 'Josefin Sans', sans-serif;
  font-size:20px;
  width:400px;
  display:flex;
  flex-flow:column;
  margin-top:80px;
  margin-left:100px;
}
main4{
  font-family: 'Josefin Sans', sans-serif;
  font-size:20px;
  width:400px;
  display:flex;
  flex-flow:column;
  margin-top:60px;
  margin-left:100px;
}